*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.general-container {
  max-width: 1000px;
  padding-block: 1rem;
  margin: auto;
}

.banner {
  background-color: #e1af51;
  color: white;
  position: sticky;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-inline: auto;
}

.header-container img {
  border-radius: 10px;
}

.header-container ul {
  display: flex;
}

.header-container ul li {
  list-style: none;
  margin-left: 2rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #e1af51;
  font-size: larger;
}

.title-container h1 {
  margin-right: 2rem;
}

.img-div {
  width: fit-content;
  height: 25rem;
  border: 3px solid rgb(79, 79, 143);
  border-radius: 15px;
}

.img-div img {
  width: 200px;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}
.card-body {
  text-align: center;
}

.card-body h3 {
  margin-block: 0.5rem;
  color: #e1af51;
}

.btn {
  padding: 0.5rem 2rem;
  background-color: #e1af51;
  color: white;
  border-radius: 4rem;
  border-style: none;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-container ul {
  font-size: large;
}

.footer-container ul li {
  list-style: none;
  text-align: center;
}
