*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
  padding-block: 1rem;
  background-color: #e1af51;
  color: white;
  position: sticky;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
}

.header-container img {
  border-radius: 10px;
}

.header-container ul {
  display: flex;
}

.header-container ul li {
  list-style: none;
  margin-left: 2rem;
}

.img-div {
  width: fit-content;
  height: 35rem;
  border: 3px solid rgb(79, 79, 143);
  border-radius: 15px;
}

.img-div img {
  width: 300px;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btn {
  padding: 1rem 2rem;
  background-color: #e1af51;
  color: white;
  border-radius: 4rem;
  border-style: none;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.footer-container ul {
  font-size: large;
}

.footer-container ul li {
  list-style: none;
  text-align: center;
}
